@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

html{
  font-size: 10px;
}
body {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-weight: 300;
  background-color: yellow;
  font-size: 1.4rem;
  color: #181818;
}

/* 공통 Reset */
.resetMargin {
  margin: 0;
}

.resetList {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 공통 레이아웃 */
 .appNavigation, .appFooter{
  width: 100%;
}
/* 공통 컨테이터 */
.container, .appMain{
  background-color: silver;
  display: flex;
  flex-flow: row wrap;
}
.appHeader{
  background-color: pink;
}
.appNavigation{
  background-color: lime;
}
.appMain{
  background-color: blue;
}
.book, .news, .board, .favorite, .twitter{
  background-color: skyblue;
}
.appFooter{
  background-color: orange;
}

/* 모바일 디바이스 */
@media screen and (max-width: 999px){
  .appHeader, .appMain{
    width: 100%;
  }
  /* 모바일 헤더 */
  .appHeader{
  }
  /* 모바일 내비게이션 */
  .appNavigation{
    height: 20vh;
  }
  /* 모바일 메인 콘텐츠 */
  .appMain{
    height: 50vh;
  }
  .book, .news, .board, .favorite, .twitter{
    width: 100%;
    height: 10vh;
  }
  /* 모바일 푸터 */
  .appFooter{
    height: 15vh;
  }
}
/* 데스크탑 디바이스 */
@media screen and (min-width: 1000px){
  .appHeader, .appMain{
    width: 1000px;
  }
  /* 데스크탑 컨테이너 */
  .container{
    justify-content: center;
  }
   /* 데스크탑 헤더 */
   .appHeader{

  }
  /* 데스크탑 내비게이션 */
  .appNavigation{
    height: 20vh;
  }
  /* 데스크탑 메인 콘텐츠 */
  .appMain{
    height: 60vh;
    justify-content: space-between;
  }
  /* 데스크탑 추천 서적 */
  .book{
    width: 320px;
  }
  /* 데스크탑 새소식 */
  .news{
    width: 660px;
  }
  /* 데스트탑 게시판 */
  .board{
    width: 320px;
  }
  /* 데스크탑 인기 사이트 */
  .favorite{
    width: 240px;
  }
  /* 데스크탑 트위터 */
  .twitter{
    width: 400px;
  }
  /* 데스크탑 푸터 */
  .appFooter{
    height: 10vh;
  }
}